body {
  background-color: #232323;
}

#pizza {
  margin-top: 50px;
}

#toppings {
  margin-top: 80px;
}

#pizza-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.radio, .checkbox {
  margin-left: 20px;
}

.my-container {
  margin: 0 0 1em;
}

input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  padding-left: 1.2em;
  position: relative;
  font-weight: normal;
  margin-right: 5px;
}

label::before {
  background: #f4e5c6;
  border-radius: 50%;
  content: "";
  display: block;
  height: 15px;
  width: 15px;
  left: 0;
  position: absolute;
  top: .27em;
}

input:checked+label::before {
  background: #bc2500;
}

input[type='checkbox']:checked:after {
  width: 15px;
  height: 15px;
  left: -1px;
  position: relative;
  background-color: #bc2500;
  content: '';
  display: inline-block;
  visibility: visible;
}

#add-to-cart {
  background-color: #bc2500;
  color: #f4e5c6;
  font-size: 15px;
  font-weight: bold;
  margin-right: 500px;
  margin-left: 17px;
  height: 40px;
  width: 150px;
  margin-top: 62px;
}

#your-cart {
  background-color: #f4e5c6;
  color: #bc2500;
  font-size: 15px;
  font-weight: bold;
  margin-left: 250px;
  height: 40px;
  width: 150px;
  margin-top: -62px;
}

#menu {
  background-color: #bc2500;
  color: #f4e5c6;
  font-size: 15px;
  font-weight: bold;
  margin-right: 500px;
  margin-left: 0px;
  height: 40px;
  width: 150px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  /* changed */
  outline: 3px solid #f4e5c6;
  outline-offset: -2px;
}

#your-cart.btn:focus,
#your-cart.btn:active:focus,
#your-cart.btn.active:focus,
#your-cart.btn.focus,
#your-cart.btn:active.focus,
#your-cart.btn.active.focus {
  /* changed */
  outline: 3px solid #bc2500;
  outline-offset: -2px;
}

.panel-info {
  background-color: transparent;
  border: 0;
  color: white;
}

.panel-body {
  font-size: 16px;
}

.panel-info>.panel-heading {
  background-color: transparent;
  color: #f4e5c6;
  border-color: #bc2500;
}

h2.panel-title {
  font-size: 20px;
  color: #f6d996;
}

h2, .h2 {
  color: #f6d996;
}

 #pizza-panel-.panel {
   margin-top: 30px;
   background-color: transparent;
   border-color: #bc2500;
   color: white;
 }

 #pizza-panel-.panel-default > .panel-heading {
   color: #f6d996;
   background-color: transparent;
   border-color: transparent;
 }

 #pizza3 {
   float: right;
   margin-top: 15px;
   margin-right: 10px;
  }
